<div id="frontend_header" class="header">
	<div id="titlebar">
		
		<span id="user_data">
			<% if session[:user_id] && session[:username] %>
				Hello, <%= session[:username] %> | Last access
				<br/>
				<%= link_to "Logout", :controller => "access", :action => "logout", :id => session[:user_id] %>
				
			<% else %>
				You are not logged in
			<% end %>
		</span>
		<span id="search_bar"></span>
		<span id="admin_quick_links"></span>
	</div>
	<% if session[:user_id] %>
		<div class="navbar">
			<ul>
				<li>
					<%= link_to "Dashboard", root_path %>
				</li>
				<% if can? :create, User %>
					<li>
						<%= link_to "User", users_path %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>
<div class="message_alerts">
	<% if (params[:flash]): %>
	<div class="flash"><%= params[:flash] %></div>
	<% end %>
</div>