<%= render :partial => 'dashboard/header' %>
<%= render :partial => 'header' %>
<div class="main">
	<div class="grid1">
		<div class="grid_header">
			<h2>Users in the System</h2>
		</div>
		<div class="grid_body">
			<%= @users.each do |u| %>
			<div class="user_item">
				<%= u.username %> |
				<%= link_to user_edit_path(u.id) %>
			</div>
			<% end %>
		</div>
	</div>
</div>