<h3>Address</h3>
<%= p.inputs do %>
	<%= p.input :address_type, :label => "Type of Address", :as => :radio, :collection => ["Work", "Home"] %>
	<%= p.input :content, :label => "Street Address, complete with Apartment or Unit number (If applicable)" %>
	<%= p.input :city %>
	<%= p.input :state %>
<% end %>
