<% # Person form -- use to fill out new and edit records 
	# Using "formatastic" gem to minimalize the code (github/justinfrench/formtastic.git)
%>
<%= semantic_form_for @person do |p| %>
	<div class="errors">
		<%= p.semantic_errors :state %>
	</div>
	<div id="person_type" class="field">
		<%= p.input :person_type, :as => :radio, :label => "University Role: (Select only one)", 
		:collection => ["Faculty", "Staff", "Graduate Student", "Undergraduate Student", "Donor"] %>
	</div>
	<div id="person_info" class="field">
		<%= p.inputs do %>
			<%= p.input :first_name, :label => "First Name", :required => true %>
			<%= p.input :last_name, :label => "Last Name", :required => true %>
			<%= p.input :middle_name, :label => "Middle", :required => false %>
			<%= p.input :date_of_birth, :label => "Birthdate (Use dropdowns to select)", :required => true %>
		<% end %>
	</div>
	<div id="person_sensitive" class="field">
		<%= p.input :gender, :as => :radio, :collection => ["Male", "Female"] %>
		<%= p.input :race, :as => :radio, 
		:collection => ["African-American", "Alaska Native", "Asian", "Black", "Hispanic", "Latino", "Native-American", "White"] %>
		<%= p.input :spouse_name %>
	</div>
	<div id="person_address" class="field">
		<%= p.fields_for :addresses do |builder| %>
			<%= render "person_address", :p => builder %>
		<% end %>
	</div>
	<div id="person_email" class="field">
		<%= p.fields_for :emails do |builder| %>
			<%= render "person_email", :p => builder %>
		<% end %>
	</div>
	<div id="person_telephone" class="field">
		<%= p.fields_for :telephones do |builder| %>
			<%= render '_person_telephone', :p => builder %>
		<% end %>
	</div>
	<div id="person_notes" class="field">
		<%= render 'person_notes', :p => p %>
	</div>
	<div class="actions">
		<%= p.actions do %>
			<%= p.action :submit, :button_html => { :class => 'button', :disable_with => 'Wait...' }, :label => 'Create' %>
			<%= p.action :cancel, :button_html => { :class => 'button' }, :label => 'Cancel' %>
		<% end %>
	</div>
<% end %>