<% # Person form -- use to fill out new and edit records 
	# Using "formatastic" gem to minimalize the code (github/justinfrench/formtastic.git)
%>
<%= semantic_form_for @person do |p| %>
	<div class="errors">
		<%= p.semantic_errors :state %>
	</div>
	<div class="messages">
		<p>* = Required</p>
	</div>
	<br />
	<div id="person_type" class="top_field">
		<%= p.input :person_type, :as => :radio, :label => "University Role: (Select only one)", 
		:collection => ["Faculty", "Staff", "Graduate Student", "Undergraduate Student", "Donor"] %>
	</div>
	<hr />
	<hr />
	<div id="person_info" class="field">
		<div id="header_field1" class="headerfield">Basic</div>
		<%= p.inputs do %>
			<%= p.input :first_name, :label => "First Name", :required => true %>
			<%= p.input :last_name, :label => "Last Name", :required => true %>
			<%= p.input :middle_name, :label => "Middle", :required => false %>
			<%= p.input :date_of_birth, :order => [:day, :month, :year], :start_year => 1900, 
			:end_year => Date.today.year, :include_blank => false,
			:label => "Birthdate (Use dropdowns to select)", :required => true %>
			<%= p.input :gender, :as => :radio, :collection => ["Male", "Female"] %>
			<%= p.input :race, :as => :radio, 
			:collection => ["African-American", "Alaska Native", "Asian", "Black", "Hispanic", "Latino", "Native-American", "White"] %>
			<%= p.input :spouse_name %>
		<% end %>
	</div>
	<div id="person_address" class="field inactive">
		<div id="addresses" class="header">Addresses</div>
		<div class="body">
			<%= p.fields_for :addresses do |builder| %>
				<%= render "person_address", :p => builder %>
			<% end %>
		</div>
	</div>
	<div id="person_email" class="field inactive">
		<div id="emails" class="header">Emails</div>
		<div class="body">
			<%= p.fields_for :emails do |builder| %>
				<%= render "person_email", :p => builder %>
			<% end %>
		</body>
	</div>
	<div id="person_telephone" class="field inactive">
		<div id="telephones" class="header">Telephones</div>
		<div class="body">
			<%= p.fields_for :telephones do |builder| %>
				<%= render '_person_telephone', :p => builder %>
			<% end %>
		</div>
	</div>
	<hr />
	<div id="person_office_hours" class="field inactive">
		<div id="office_hours" class="header">
			Office Hours
		</div>
		<div class="body">
			<%= p.fields_for :office_hours do |builder| %>
				<%= builder.inputs :for => :calendar_dates do |date, i| %>
					<%= date.inputs :name => "Enter date" do %>
						<%= date.input :semester %>
						<%= date.input :year %>
						<%= date.input :month %>
						<%= date.input :day %>
						<%= date.input :start_time %>
						<%= date.input :end_time %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div id="person_notes" class="field">
		<%= render 'person_notes', :p => p %>
	</div>
	<div class="actions">
		<%= p.actions do %>
			<%= p.action :submit, :button_html => { :class => 'button', :disable_with => 'Wait...' }, :label => 'Create' %>
			<%= p.action :cancel, :button_html => { :class => 'button' }, :label => 'Cancel' %>
		<% end %>
	</div>
<% end %>