<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'frontend/header' %>
<%= render :partial => 'people/header' %>
<%= render :partial => 'fundings/header' %>
<%= yield %>
</body>
</html>