<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "taxonomies" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'dashboard/header' %>
<%= yield %>

</body>
</html>